body {
	margin: 0;
}
.wrapper {
	margin: auto;
	width: 80%;
}
.header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 132px;
}
.logo {
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}
.logo__circle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
}
.logo__circle_color_dark-blue {
	background: #0056EC; 
	border-radius: 50%;
}
.logo__circle_color_blue { 
	left: 8px;
	top: 56%;
	background: #C8DBFB;
	border-radius: 50%;
	opacity: .7;
}
.menu {
	display: flex;
	align-items: center;
	padding-top: 7px;
	padding-right: 17px;
}
.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item_active::after {
 display: block;
 content: '';
 width: 100%;
 height: 3px;
 background: #0056EC;
}
.menu__item:hover {
 opacity: .5;
}
.menu__item:hover:after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 100%;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s;
}
.menu__item:after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 0;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s, width .3s;
}
.menu__item:hover:after, .menu__item_active:after {
 opacity: 1;
 width: 100%;
}
.menu,.main-content__subtitle,.main-content__button {
	font-family: Roboto;
}
.main {
	padding: 77px 50% 145px 0;
	background: top right no-repeat url(img/mainImg.svg);
	margin-right: 10px;
}
.main__title {
	font: 700 66px/85px pt_serifbold, arial, helvetica, sans-serif;
	margin: 0 0 40px 0;
}
.main__subtitle {
	margin: 0 0 41px 0;
	width: 61%;
	font: 22px/25px Roboto, arial, helvetica, sans-serif;
}
.main__button {
	display: inline-block;
	font: 18px/17px Roboto, arial, helvetica, sans-serif;
	padding: 21px 29px;
	background-color: #0056EC;
	color: #fff; 
	text-decoration: none;
	border-radius: 4px;
	transition: opacity .5s;
}
.main__button:hover { 
	opacity: .5;
}


.main__title-text_highlight {
	background: #ECF3FF;
}





